{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {"targets": {"edge": 14}}]
  ],
  "plugins": ["@babel/plugin-transform-arrow-functions", "@babel/plugin-proposal-class-properties"]
}
